.grid-container {
    display: grid; /* 1. Crear un contenedor con display: grid */
    grid-template-columns: 150px 150px; /* 2. Definir dos columnas de 150px cada una */
    margin-left: 41%;
    grid-template-rows: 100px 100px; /* 2. Definir dos filas de 100px cada una */
    gap: 10px; /* Espacio entre las celdas (opcional, pero ayuda a visualizar) */
    border: 2px solid #ff0000; /* Borde para ver el contenedor */
    padding: 10px;
    width: fit-content; /* Ajustar el ancho al contenido */
}

.grid-item {
    background-color: #ff0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: 1px solid #b30000;
}
.titulo{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
    border: 5px black solid;
    border-radius: 15px;
}