#div-1{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 30px;
    border: 10px outset black ;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}

#div-2{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 30px;
    border: 10px outset black ;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

